.glow-border {
  --border-radius: 6px;
  --border-width: 2px;
  position: relative;
  border-radius: var(--border-radius);
  z-index: 1;
}

.glow-border::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #0cce6b,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #0cce6b
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 5s infinite;
  box-sizing: border-box;
  z-index: -1;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.glow-border:hover::after {
  animation-play-state: running;
}

.glow-border,
.glow-border::after {
  box-sizing: border-box;
}
