/* Main loading screen CSS */
.loader {
  --c1: #673b14;
  --c2: #f8b13b;
  width: 30px;
  height: 65px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: -o-linear-gradient(
      left,
      var(--c1) 2px,
      var(--c2) 0 5px,
      var(--c1) 0
    )
    50%/7px 8px no-repeat;
  background: linear-gradient(
      90deg,
      var(--c1) 2px,
      var(--c2) 0 5px,
      var(--c1) 0
    )
    50%/7px 8px no-repeat;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -webkit-animation: l5-0 2s infinite linear;
  animation: l5-0 2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #000)
      )
      bottom/4px 2px no-repeat,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #000));
  -webkit-mask: linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(var(--d, 0deg)),
        color-stop(50%, var(--c2)),
        color-stop(0, #0000)
      )
      bottom / 100% 205%,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--c2))) center/0
      100%;
  background: -o-linear-gradient(var(--d, 0deg), var(--c2) 50%, #0000 0) bottom /
      100% 205%,
    -o-linear-gradient(var(--c2) 0 0) center/0 100%;
  background: linear-gradient(var(--d, 0deg), var(--c2) 50%, #0000 0) bottom /
      100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  -webkit-animation: inherit;
  animation: inherit;
  -webkit-animation-name: l5-1;
  animation-name: l5-1;
}
.loader::after {
  -webkit-transform-origin: 50% calc(100% + 2px);
  -ms-transform-origin: 50% calc(100% + 2px);
  transform-origin: 50% calc(100% + 2px);
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
  --s: 3px;
  --d: 180deg;
}
@-webkit-keyframes l5-0 {
  80% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0.5turn);
    transform: rotate(0.5turn);
  }
}
@keyframes l5-0 {
  80% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0.5turn);
    transform: rotate(0.5turn);
  }
}
@-webkit-keyframes l5-1 {
  10%,
  70% {
    background-size: 100% 205%, var(--s, 0) 100%;
  }
  70%,
  100% {
    background-position: top, center;
  }
}
@keyframes l5-1 {
  10%,
  70% {
    background-size: 100% 205%, var(--s, 0) 100%;
  }
  70%,
  100% {
    background-position: top, center;
  }
}

/* Data fetching loader */
.dataFetchingLoader {
  width: 100px;
  height: 30px;
  display: grid;
  overflow: hidden;
}
.dataFetchingLoader:before,
.dataFetchingLoader:after {
  content: "";
  grid-area: 1/1;
  background: #fff;
  clip-path: polygon(
    0 10px,
    calc(100% - 15px) 10px,
    calc(100% - 15px) 0,
    100% 50%,
    calc(100% - 15px) 100%,
    calc(100% - 15px) calc(100% - 10px),
    0 calc(100% - 10px)
  );
  animation: l5 1s infinite;
  transform: translate(calc(0% + var(--s, 0%)));
}
.dataFetchingLoader:after {
  --s: -100%;
}
@keyframes l5 {
  80%,
  100% {
    transform: translate(calc(100% + var(--s, 0%)));
  }
}

/* Blog loader */
.blogLoader {
  width: 40px;
  aspect-ratio: 1.154;
  display: grid;
  background: conic-gradient(
    from 149deg at top,
    #0000,
    #bf1e62 1deg 60deg,
    #0000 61deg
  );
  animation: l14 2s infinite cubic-bezier(0.5, 500, 0.5, -500);
  transform-origin: top;
}
.blogLoader:before,
.blogLoader:after {
  content: "";
  grid-area: 1/1;
  background: conic-gradient(
    from 149deg at top,
    #0000,
    #ffa588 1deg 60deg,
    #0000 61deg
  );
  transform-origin: inherit;
  animation: inherit;
}
.blogLoader:after {
  background: conic-gradient(
    from 149deg at top,
    #0000,
    #027b7f 1deg 60deg,
    #0000 61deg
  );
  animation-timing-function: cubic-bezier(0.5, 800, 0.5, -800);
}
@keyframes l14 {
  100% {
    transform: rotate(0.2deg);
  }
}
